# Configuration file for PHPStan static code checking, see https://phpstan.org.

includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

  level: 0

  paths:
    - .

  ignoreErrors:
    - "#^Unsafe usage of new static#"
    - "#Drupal calls should be avoided in classes, use dependency injection instead#"
    -
      message: "#^Parameter \\$font_plugin_manager of method Drupal\\\\textimage\\\\Form\\\\SettingsForm\\:\\:__construct\\(\\) has invalid type Drupal\\\\image_effects\\\\Plugin\\\\FontSelectorPluginManager\\.$#"
      reportUnmatched: false
    -
      message: "#^Parameter \\$font_plugin_manager of method Drupal\\\\textimage\\\\Form\\\\SettingsForm\\:\\:__construct\\(\\) has invalid type Drupal\\\\image_effects\\\\Plugin\\\\ImageEffectsPluginManager\\.$#"
      reportUnmatched: false
